h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: brown;
}

body {
  background: wheat;
  line-height: 1.5;
  text-align: left;
}

.center-pic {
  display:block;
	margin:auto;
}

p {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 130%
}

.utext {
  color: darkslateblue;
}

h1 {
  background: azure;
}

.beg {
  border-style: groove;
  border-width: 5px;
  width: 600px; 
  height: 600px;
  background: gray;
  margin: auto;
}